:root {
  --color-accent: #F19F24;
  --color-background: #141414;
  --color-border: #707070;
  --color-text: #ffffff;
}

body {
  background-color: var(--color-background);
  background-image: url(../media/images/backgroundIG.svg);
  background-position: center; 
  background-size: cover; 
  color: var(--color-text);
  font-family: 'poppins';
  font-weight: bold;
  height: 220.5rem;
}

.container {
  width: 85rem;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  padding: 5rem 0 1.5rem;
  font-size: 4rem;
}

h2 {
  font-size: 2.625rem;
}

p {
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.5;
}

.logo {
  text-transform: uppercase;
}

h1.logo {
  font-size: 11.313rem;
  width: 33%;
  margin: 0 auto;
  padding: 0;

}

div.logo {
  padding-top: calc(19.125rem - 6.5rem);
  padding-bottom: 21.438rem;
}



span {
  color: var(--color-accent);
}

a {
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;


}

/* header stuff */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem;
}

.header__logo {
  font-size: 3.5rem;
}

div.header__list {
  width: 50%;
}

ul.header__list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

a.header__list {
  margin-left: 3.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid var(--color-background);
}

a.active,
a.header__list:hover {
  border-bottom: 3px solid var(--color-accent);
}

/* main stuff */

.main {
  padding: 0 8.75rem;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 22rem;
}

.image--laptop {
  max-width: 24rem;
}