:root {
  --color-accent: #F19F24;
  --color-background: #141414;
  --color-border: #707070;
  --color-text: #ffffff;
}

body {
background-color: var(--color-background);
color: var(--color-text);
font-family: 'poppins';
font-weight: bold;
}

.container {
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
}

span {
  color: var(--color-accent);
}

a {
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;

  
}

/* header stuff */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem;
}

.header__logo {
  font-size: 3.5rem;
}

div.header__list {
  width: 50%;
}

ul.header__list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

a.header__list {
  margin-left: 3.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 3px solid var(--color-background);
}

a.active,
a.header__list:hover {
  border-bottom: 3px solid var(--color-accent);
}

